/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a {
    color: rgb(52, 42, 88);
}

/* fancy body colour */
body {
    background-color: #a18550a2;
}

/* sets up fancy header */
header {
    box-shadow: 0px 10px 5px #0d445e;
    background-color: #c5dce7;
}

/* noice card */
.project {
    border-radius: 5%;
    box-shadow: 10px 5px 5px #065b83;
    background-color: #c5dce7;
    justify-content: center;
}

/* makes the created by text smaller */
.card-subtitle {
    font-size: small;
}

.card-body {
    text-align: center;
}